@model CarBuyAdditionalFeeListViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    int page = (int)ViewData["page"];
    int itemPerPage = (int)ViewData["itemPerPage"];
}

<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="tooltip">
        <h4><i class="fa-solid fa-lg fa-circle-info"></i> Statü Tip Bilgileri</h4>
        <span class="tooltiptext">Bu sayfa statü için gereklidir.</span>
    </div>
    <a asp-action="Add" class="m-2 p-2 button-add"><i class="fa-solid fa-plus"></i>&nbsp;Ekle</a>

</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="table-responsive">
        <table class="table-bordered table-custom-css">
            <thead class="thead color-gradient" style="color: #ffff;">
                <tr>
                    <th scope="col">Marka Adı</th>
                    <th scope="col">Model Adı</th>
                    <th scope="col">Ön Değerleme Fiyatı</th>
                    <th scope="col">Teklif Fiyatı</th>
                    <th scope="col">Araç Sahibi</th>
                    <th scope="col">Noter Ücreti</th>
                    <th scope="col">Komisyon Ücreti</th>
                    <th scope="col">Kaydedilme Tarihi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableRows)
                {
                    <tr>
                        <td>@item.BrandName</td>
                        <td>@item.ModelName</td>
                        <td>@item.PreValuationPrice</td>
                        <td>@item.BidPrice</td>
                        <td>@item.CarOwnerUser</td>
                        <td>@item.NotaryFee</td>
                        <td>@item.CommissionFee</td>
                        <td>@item.CreatedDate</td>
                        <td> <a asp-action="Delete" asp-route-id="@item.Id" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="p-2 d-flex justify-content-center align-items-end m-2 ">
            <nav aria-label="...">
                <ul class="pagination">

                    @if (page == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="Index" asp-route-page="@(page - 1)" asp-route-itemPerPage="@itemPerPage" tabindex="-1">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@(page - 1)" asp-route-itemPerPage="@itemPerPage" tabindex="-1">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= Model.maxPages; i++)
                    {
                        if (page != i)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-itemPerPage="@itemPerPage">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-itemPerPage="@itemPerPage">@i <span class="sr-only">(current)</span></a>
                            </li>
                        }
                    }

                    @if (page == Model.maxPages)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="Index" asp-route-page="@(page + 1)" asp-route-itemPerPage="@itemPerPage">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@(page + 1)" asp-route-itemPerPage="@itemPerPage">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>