@using SecondHandCarBidProject.AdminUI.DTO
@using SecondHandCarBidProject.AdminUI.GUI.ViewModels
@model ExpertInfoAddViewModels

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="tooltip">
    <h4><i class="fa-solid fa-lg fa-circle-info"></i>Ekspertix Bilgi Ekleme Ekranı</h4>
        <span class="tooltiptext">Bu Sayfada Ekspertizler ve Bilgileri Eklenir.</span>
    </div>

</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <form asp-action="AddExpertInfo" method="post">
    <h3 style="text-align:center; color:#002244;font-weight:bold;" class="m-2 p-2 big-title-color">Ekspertix Bilgi Ekleme Ekranı</h3>
        <div class="row text-center p-2">

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Ekspertiz Merkezi Adı</label>
                <input type="number" class="form-control" asp-for="CentreName" value="@Model.CentreName" placeholder="">
                <span asp-validation-for="CentreName" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">
                Ekspertiz Merkezi Adresi
                </label>
                <input type="number" class="form-control" asp-for="ExpertAddress" value="@Model.ExpertAddress" placeholder="">
                <span asp-validation-for="ExpertAddress" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Adres Bilgisi</label>
                <select class="form-select" asp-for="AddressInfoId" asp-items="@Model.AddressInfoList">
                    <option value="">--Seçiniz--</option>
                </select>
                <span asp-validation-for="AddressInfoId" class="text-danger"></span>
            </div>
        </div>
    <div class="row text-center p-2">

        <div class="col-12 col-md-4 form-group">
            <label class="fw-bold text-dark">Enlem</label>
                <input type="number" class="form-control" asp-for="Latitude" value="@Model.Latitude" placeholder="">
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
        <div class="col-12 col-md-4 form-group">
            <label class="fw-bold text-dark">
                Boylam
            </label>
                <input type="number" class="form-control" asp-for="Longitude" value="@Model.Longitude" placeholder="">
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
        <div class="col-12 col-md-4 form-group">
            <label class="fw-bold text-dark">
                Düzenleme Yapan Kişi
            </label>
                <select class="form-select" asp-for="ModifiedBy" asp-items="@Model.ModifiedByList">
                    <option value="">--Seçiniz--</option>
                </select>
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
        </div>
       
    </div>
        <div class="row text-center mt-3 p-2 mb-2 form-group">
            <div class="col-12 col-md-4">
                <label class="fw-bold text-dark">
                    Kayıt Tarihi
                </label>
                <input type="number" class="form-control" asp-for="CreatedDate" value="@Model.CreatedDate" placeholder="">
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">
                    Düzenlenme Tarihi
                </label>
                <input type="number" class="form-control" asp-for="ModifiedDate" value="@Model.ModifiedDate" placeholder="">
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">
                    Kayıt Yapan Kişi
                </label>
                <select class="form-select" asp-for="CreatedBy" asp-items="@Model.CreatedByList">
                    <option value="">--Seçiniz--</option>
                </select>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
    <div class="row text-center mt-3 p-2 mb-2 form-group">
        <div class="col-12 col-md-4">
                <label class="fw-bold text-dark">Fotoğraf Ekle</label>
                <input type="number" class="form-control" asp-for="Picture" value="@Model.Picture" placeholder="">
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
    </div>
        <div class="row justify-content-end m-2 mb-2">
            <div class="col align-self-end">
                <button class=" m-2 p-2 button-29">KAYDET</button>
            </div>
        </div>
        </form>
</div>