
@model PageAuthTypeClassListDto
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int page = (int)ViewData["page"];
    int itemPerPage = (int)ViewData["itemPerPage"];
    string SearchPageAuth = (string)ViewData["SearchPageAuth"];
}



<div class="col-12 col-md-3">
    <h4 data-bs-toggle="tooltip" data-bs-placement="top" title="Sayfa Yetki Bilgileri burada yapılıyor"><i class="fa-solid fa-circle-info"></i>&nbsp;Sayfa Yetki Bilgileri</h4>
</div>


<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="row text-center p-2">
        <div class="col-12 col-md-3">
            <a asp-action="Add" class="m-2 p-2 button-add"><i class="fa-solid fa-plus"></i>&nbsp;Ekle</a>
        </div>
        <div class="col-12 col-md-4">
            <form asp-controller="PageAuthType" asp-action="Index" method="get">
            <input type="text" name="SearchPageAuth" class=" m-2 p-2 form-control" placeholder="Sayfa Yetki Ara" />
            </form>
        </div>
        <div class="col-12 col-md-4">

            <a type="text" class=" m-2 p-2 form-control button-add" id="BidName">Arama</a>
        </div>

    </div>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
    <div class="table-responsive">
        <table class="table-bordered table-custom-css">
            <thead class="thead color-gradient" style="color: #ffff;">
                <tr>

                    <th scope="col">Yetki Adı</th>
                    <th scope="col">Güncelle</th>
                    <th scope="col">Sil</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.pageAuthTypeClassDto.Count != 0)
                {
                @foreach (var item in Model.pageAuthTypeClassDto)
                {
                    <tr>
                        <td>@item.authorizationName</td>
                        <td> <a asp-action="Update" asp-route-id="@item.id" class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                        <td> <a asp-action="Delete" asp-route-id="@item.id"  class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>

                    </tr>
                }
                }
            </tbody>
        </table>
         <div class="p-2 d-flex justify-content-center align-items-end m-2 ">
            <nav aria-label="...">
                <ul class="pagination">

                    @if (page == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="Index" asp-route-page="@(page - 1)" asp-route-itemPerPage="@itemPerPage"  tabindex="-1">Önceki</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@(page - 1)" asp-route-itemPerPage="@itemPerPage"  tabindex="-1">Önceki</a>
                        </li>
                    }

                    @for (int i = 1; i <= Model.maxPages; i++)
                    {
                        if (page != i)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-itemPerPage="@itemPerPage" >@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item active">
                                <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-itemPerPage="@itemPerPage" >@i <span class="sr-only">(şimdiki)</span></a>
                            </li>
                        }
                    }

                    @if (page == Model.maxPages)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="Index" asp-route-page="@(page + 1)" >Sonraki</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@(page + 1)" >Sonraki</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>