@using SecondHandCarBidProject.AdminUI.DTO
@using SecondHandCarBidProject.AdminUI.GUI.ViewModels
@model CorporationListViewModels

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    int page = (int)ViewData["page"];
    int itemPerPage = (int)ViewData["itemPerPage"];
}

<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">

    <h4 data-bs-toggle="tooltip" data-bs-placement="top" title="Statü tip bilgileri burada hallediliyor" style="
        text-align: center">
        <i class="fa-solid fa-circle-info"></i>&nbsp;Şirket Listeleme Ekranı
    </h4>
    <div class="row">
        <a asp-action="AddCorporation" class="m-2 p-2 button-add"><i class="fa-solid fa-plus"></i>&nbsp;Ekle</a>
        <div class="col-12 col-md-4"><a href="AddCorporation" class=" m-2 p-2 button-add"><i class="fas fa-plus"></i>&nbsp;EKLE</a></div>
        <div class="col-12 col-md-4 mt-3">

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px; background:white">
    <div class="table-responsive">
        <table class="table-bordered table-custom-css">
            <thead class="thead color-gradient" style="color: #ffff;">
                <tr>

                    <th scope="col">Şirket Adı</th>
                    <th scope="col">Adres Bilgisi</th>
                    <th scope="col">Telefon Numarası</th>
                    <th scope="col">Şirket Tipi</th>
                    <th scope="col">Şirket Paket Tipi</th>
                    <th scope="col">Kayıt Tarihi</th>
                    <th scope="col">Düzenlenme Tarihi</th>
                    <th scope="col">Kayıt Yapan Kişi</th>
                    <th scope="col">Düzenleme Yapan Kişi</th>
                    <th scope="col">Güncelle</th>
                    <th scope="col">Sil</th>

                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model.TableRows)
                    {
                        <tr>
                            <td>@item.CompanyName</td>
                            <td>@item.AddressInfoId</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.CorporationTypeId</td>
                            <td>@item.CorporatePackageTypeId</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.ModifiedDate</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.ModifiedBy</td>
                            <td> <a asp-action="UpdateCorporation" asp-route-id="@item.Id" class=" m-2 p-2 button-gnc"><i class="fas fa-edit"></i>&nbsp;GÜNCELLE</a></td>
                            <td> <a asp-action="Delete" asp-route-id="@item.Id" class=" m-2 p-2 button-delete"><i class="far fa-trash-alt"></i>&nbsp;SİL</a></td>
                        </tr>
                    }
            </tbody>
        </table>
            <div class="p-2 d-flex justify-content-center align-items-end m-2 ">
                <nav aria-label="...">
                    <ul class="pagination">

                        @if (page == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" asp-action="Index" asp-route-page="@(page - 1)" asp-route-itemPerPage="@itemPerPage" tabindex="-1">Previous</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(page - 1)" asp-route-itemPerPage="@itemPerPage" tabindex="-1">Previous</a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.maxPages; i++)
                        {
                            if (page != i)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-itemPerPage="@itemPerPage">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item active">
                                    <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-itemPerPage="@itemPerPage">@i <span class="sr-only">(current)</span></a>
                                </li>
                            }
                        }

                        @if (page == Model.maxPages)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" asp-action="Index" asp-route-page="@(page + 1)" asp-route-itemPerPage="@itemPerPage">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(page + 1)" asp-route-itemPerPage="@itemPerPage">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>