@using SecondHandCarBidProject.AdminUI.DTO
@using SecondHandCarBidProject.AdminUI.GUI.ViewModels
@model CorporationUpdateViewModels

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="tooltip">
    <h4><i class="fa-solid fa-lg fa-circle-info"></i>Şirket Güncelleme Ekranı</h4>
    <span class="tooltiptext">Şirket Güncelleme İşlemleri Bu Sayfada yapılır.</span>
</div>
<div class="mt-2 p-3" style="box-shadow:  6px 20px 40px #000000;border-radius:10px ">
        <form asp-action="UpdateCorporation" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <h3 style="text-align:center; color:#002244;font-weight:bold;" class="m-2 p-2 big-title-color">Şirket Güncelleme Ekranı</h3>
    <div class="row text-center p-2">

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Şirket Adı</label>
                <input type="number" class="form-control" asp-for="CompanyName" value="@Model.CompanyName" placeholder="Şirketinizin adını giriniz...">
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">
                    İletişim Numarası
                </label>
                <input type="number" class="form-control" asp-for="PhoneNumber" value="@Model.PhoneNumber" placeholder="size ulaşabileceğimiz bir iletişim numarası giriniz...">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">Adres Bilgisi</label>
                <select class="form-select" asp-for="AddressInfoId" asp-items="@Model.AdressInfoList">
                    <option value="">--Seçiniz--</option>
                </select>
                <span asp-validation-for="AddressInfoId" class="text-danger"></span>
            </div>
        </div>
        <div class="row text-center mt-3 p-2 mb-2 form-group">
            <div class="col-12 col-md-4">
                <label class="fw-bold text-dark">
                    Kayıt Tarihi
                </label>
                <input type="number" class="form-control" asp-for="CreatedDate" value="@Model.CreatedDate" placeholder="">
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">
                    Düzenlenme Tarihi
                </label>
                <input type="number" class="form-control" asp-for="ModifiedDate" value="@Model.ModifiedDate" placeholder="">
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">
                    Şirket Paket Tipi
                </label>
                <select class="form-select" asp-for="CorporatePackageTypeId" asp-items="@Model.CorporatePackageTypeList">
                    <option value="">--Seçiniz--</option>
                </select>
                <span asp-validation-for="CorporatePackageTypeId" class="text-danger"></span>
            </div>
        </div>

    <div class="row text-center mt-3 p-2 mb-2 form-group">

        <div class="col-12 col-md-4 form-group">
            <label class="fw-bold text-dark">
                Şirket Tipi
            </label>
                <select class="form-select" asp-for="CorporationTypeId" asp-items="@Model.CorporationTypeList">
                    <option value="">--Seçiniz--</option>
                </select>
                <span asp-validation-for="CorporationTypeId" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-4 form-group">
            <label class="fw-bold text-dark">
                Kayıt Yapan Kişi
            </label>
                <select class="form-select" asp-for="CreatedBy" asp-items="@Model.CreatedByList">
                    <option value="">--Seçiniz--</option>
                </select>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
            <div class="col-12 col-md-4 form-group">
                <label class="fw-bold text-dark">
            Düzenleme Yapan Kişi
                </label>
                <select class="form-select" asp-for="ModifiedBy" asp-items="@Model.ModifiedByList">
                    <option value="">--Seçiniz--</option>
                </select>
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
        </div>
    <div class="row justify-content-end m-2 mb-2">
        <div class="col align-self-end">
            <button class=" m-2 p-2 button-29">KAYDET</button>
        </div>
    </div>
    </form>
        </div>
